.icon {
    display: inline-block;
    margin: 20px 10px;
}

.icon_css3 {
    background-image: url(../img/slice/css3.svg);
}

.icon_html5 {
    background-image: url(../img/slice/html5.svg);
}

.icon_box {
    background-image: url(../img/slice/other/box.svg);
}

.icon_dropbox {
    background-image: url(../img/slice/other/dropbox.png);
}

.icon_skype {
    background-image: url(../img/slice/other/skype.svg);
}

.icon_paypal {
    background-image: url(../img/slice/other/paypal.png);
}

.icon_facebook {
    background-image: url(../img/slice/social/facebook.png);
}

.icon_googleplus {
    background-image: url(../img/slice/social/googleplus.png);
}

.icon_linkedin {
    background-image: url(../img/slice/social/linkedin.png);
}

.icon_path {
    background-image: url(../img/slice/social/path.svg);
}

.icon_twitter {
    background-image: url(../img/slice/social/twitter.png);
}

.icon_instagram {
    background-image: url(../img/slice/social/instagram.svg);
}

.icon_foursquare {
    background-image: url(../img/slice/social/foursquare.svg);
}

.icon_vine {
    background-image: url(../img/slice/other/vine@2x.png);
}

.icon_medium {
    background-image: url(../img/slice/other/medium@2x.png);
}

.icon_decline {
    background-image: url(../img/slice/icon_decline.svg);
}

.icon_hold {
    background-image: url(../img/slice/icon_hold.svg);
}

.icon_rise {
    background-image: url(../img/slice/icon_rise.svg);
}